<li>{{#link-to 'post' post.id}}<h3>{{post.title}}</h3>{{/link-to}} by {{post.author}}
<!-- {{#if isContentShowing}}
<p><img src={{post.image1}} alt={{post.title}} {{action 'contentHide'}}><br>
  {{post.content}}<br>
  <img src={{post.image2}} alt={{post.title}}></p>
  {{else}}
  <button {{action 'contentShow'}}>Show Post</button>
  {{/if}} -->
</li>
